---
import { Image } from "astro:assets";
import Bruce from "../img/bruce.png";
---

<section
  class="flex flex-col-reverse justify-end md:justify-between md:h-full h-full md:max-h-[75vh] md:flex-row mb-20"
>
  <div id="text" class="flex flex-col gap-10 place-content-center">
    <div class="flex flex-col gap-1">
      <h1 class="text-3xl font-bold">BE WATER:</h1>
      <span class="text-sm italic font-[300] tracking-wider opacity-90"
        >The Flowing Timeline of Bruce Lee</span
      >
    </div>
    <div class="flex flex-col w-3/4 gap-4">
      <span class="text-sm tracking-wider opacity-90"
        >Be Water is an interactive journey through the extraordinary life of
        the legendary martial artist, actor, and philosopher. From his birth in
        San Francisco in 1940 to his untimely death in Hong Kong in 1973, this
        timeline explores the pivotal moments, relationships, and artistic works
        that shaped Bruce Lee's legacy.
      </span>
      <span class="text-sm tracking-wider opacity-90"
        >Discover how Lee revolutionized martial arts, broke barriers in
        Hollywood, and left an indelible mark on global popular culture through
        his innovative philosophies and groundbreaking performances.</span
      >
    </div>
    <a
      href="/#read"
      class="text-sm font-[300] tracking-wider w-fit opacity-90 flex items-center"
      ><span class="underline underline-offset-2">Read</span>
    </a>
  </div>
  <div
    class="image max-h-[70vh] w-1/2 md:w-3/5 max-w-[200px] md:max-w-[300px] self-end"
  >
    <figure>
      <Image src={Bruce} alt="Bruce Lee" />
    </figure>
  </div>
</section>
