---
import { Image } from "astro:assets";
import Bruce from "../img/bruce_portrait_edits.png";
---

<header class="h-[50px] border-b flex items-center px-12 justify-between">
  <div class="logo-container">
    <span class="text-3xl font-black">Be Water</span>
  </div>
  <nav class="flex gap-4">
    <a href="/explore/timeline">Timeline</a>
    <a href="/explore/timeline">Connections</a>
    <a href="/explore/timeline">Grid</a>
  </nav>
</header>
