---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.scss";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import "@fontsource/pt-serif";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
      }}
      twitter={{
        creator: "@sean_tha_swan",
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9FXFDTDRH4"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9FXFDTDRH4");
    </script>
    <ViewTransitions />
    <style>
      .grain-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url(/grain.png);
        background-repeat: repeat;
        background-size: 150px;
        opacity: 0.1;
        z-index: 999;
      }
    </style>
  </head>
  <body>
    <div class="grain-overlay"></div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
